.ModalBox {
    min-width: 300px;
    height: auto;
    min-height: 150px;
    border-radius: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.echo {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 50%;
}