.Basket {
    width: 100%;
    min-height: calc(100vh - 50px - 50px);
    background-color: #ffffff;
    padding-top: 30px;
}


.BasketContent {
    padding: 30px;
    row-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Basket .order {
    height: 50px;
    width: 200px;
    margin-top: 15px;
    border-style: none;
    background-color: #aad7fa;
    border-radius: 10px;
    font-size: 16pt;
}

.Basket .order:hover {
    background-color: #78abd1;
}

@media (max-width: 768px) {
    .BasketContent {
        min-height: calc(100vh - 160px - 50px);
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 426px) {
    .BasketContent {
        grid-template-columns: repeat(1, 1fr);
    }
}

p {
    color: #3a0086;
}